@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: #fafafa;
  padding: 30px;
}

body,
html {
  background-color: #fafafa;
  scrollbar-gutter: stable;
}

* {
  margin: 0;
  padding: 0;
}
