@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

#root {
  background-color: #f3f3f1;
}

body,
html {
  background-color: #f3f3f1;
  scrollbar-gutter: stable both-edges;
}

* {
  margin: 0;
  padding: 0;
}
