@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-purple-dark {
    background-color: #633bfe;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body,
html,
#root {
  background-color: #f3f3f1;
  height: 100%;
  /* scrollbar-gutter: stable both-edges; */
}

* {
  margin: 0;
  padding: 0;
}
